.registreer {
  margin-top: 250px;
  max-width: 600px;
  padding: 70px;
  border: 2px solid royalblue;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #7474BF, #348AC7);
}
button {
  margin-top: 20px;
}
