#poll_component {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #7474BF, #348AC7);
  color: whitesmoke;
  overflow: auto;
  margin-top: 0px;
}
.poll_stem {
  margin: auto;
  max-width: 650px;
  //min-height: 600px;
  background-color: #d3e1ff;
  color: grey;
  border-radius: 30px;
  overflow: auto;
}
form {
  max-width: 90%;
  margin: 20px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: black;
  margin: 10px;
}
span {
  text-decoration: underline;
}
.header {
  margin-top: 100px;
  margin-bottom: 100px;
}
.aantalStemSectie {
  margin-top: 50px;
}
