.login{
  margin-top: 250px;
  max-width: 600px;
  padding: 70px;
  border: 2px solid royalblue;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #7474BF, #348AC7);
}
a{
  color: whitesmoke;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.brand {
  color: white;
  font-size: 40px;
}
