.poll_aanmaak {
  background-color: #d3e1ff;
  border-radius: 30px;
  overflow: auto;
}
.volledig {
  max-width: 700px;
  margin: auto;
}
form {
  max-width: 90%;
  margin: 20px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: black;
  margin: 10px;
}
