<div class="col volledig text-center">
  <h3>Maak een poll</h3>
  <div class="poll_aanmaak">
    <form id="form" class="col" [formGroup]="maakPollForm" (ngSubmit)="onSubmit()">
      <input type="hidden">
      <div class="form-group">
          <input id="titel" class="form-control" type="text" formControlName="titel" placeholder="titel" required/>
        </div>
        <div class="form-group">
          <input id="Beschrijving" class="form-control" type="text" formControlName="beschrijving" placeholder="Beschrijving" required/>
        </div>
      <hr>
        <div formArrayName="antwoorden" *ngFor="let item of maakPollForm.get('antwoorden').controls; let i = index;">
          <div [formGroupName]="i">
            <div class="form-group">
              <input (keydown.control.shift)="addItem()" (keydown.control.backspace)="deleteItem()" class="form-control" type="text" formControlName="antwoordPoll" placeholder="Antwoord" required/>
            </div>
          </div>
        </div>
      <p>*Ctrl+shift om veld toe te voegen/Ctrl+backspace om veld te verwijderen!</p>
      <button type="submit" class="btn btn-primary">Maak poll</button>
    </form>
  </div>
</div>

